default:
  paths:
    features: features/domain
  context:
    class: Akamon\OAuth2\Server\Behat\FeatureContext

symfony-bundle:
  paths:
    features: features/infrastructure/symfony_bundle
  context:
      class: Akamon\OAuth2\Server\Infrastructure\SymfonyBundle\Behat\FeatureContext

symfony-container-extension:
  paths:
    features: features/infrastructure/symfony_container_extension
  context:
      class: Akamon\OAuth2\Server\Infrastructure\SymfonyContainerExtension\Behat\FeatureContext
